
<h3>詳細</h3>
<div class="muscle">
  <p><%= @muscle.menu %></p>
  <p><%= @muscle.site %></p>
  <p><%= @muscle.about %></p>
  <p><%= @muscle.time %></p>
  <p><%= @muscle.interval %></p>



<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= find_youtube_url(@muscle.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<%= link_to "一覧に戻る", :back%>

<% if user_signed_in? %>
   <% if current_user == @user || current_user.admin? %>
     <%= link_to "編集する", edit_muscle_path(@muscle.id) %>
     <%= button_to "削除する", muscle_path(@muscle.id), method: :delete %>

   <% end %>
<% end %>

<% @muscle.tags.each do |tag| %>
  <span><%= tag.name %></span>
<% end %>

 

