<!DOCTYPE html>
<html>
  <head>
    <title>Mukimuki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 
  </head>
  <div class="haikei">
<body>
  <header>
    <h2 class=sample2><span>Muscle site</span></h2>
    <div class="header-list">
      <ul>
        <% if user_signed_in? %>
         
          <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete, class:"logout" %></li>
      
          <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
   <footer>
     <p>Muscle site All Rights Reserved.</p>
   </footer>
</body>
</div>

</html>

